body{
    margin-top: 15px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}
body {
    margin: 0;
    padding: 0;
  }
  
.Rooms{
    border: 1px solid  #333;
    border-radius: 5px;
    height: 200px;
    width: 95%;
    position: relative;
    box-shadow: 1px 1px 1px rgba(66, 65, 65, 0.598);
    margin-top: 15px;
    margin-bottom: 15px;
}
.stars{
    color:#FFD700;
    font-size: 15px;
}
.Rooms img{
    border-radius: 5px;
    object-fit: cover;
    height: 100%;
    width: 25%;
    float: left;
    margin-right: 15px;
}
.vl {
    border-left: 1px solid #333;
    float: right;
    height: 200px;
    margin-right: 300px;
  }
  .Rooms > span{
    position: absolute;
    bottom: 0;
    right: 5px;
  }
  .prop{
    border: 1px solid  #333;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    padding: 2px;
    float: left;
    font-size: 10px;
    margin-right: 5px;
  }
  li.footersavi {
    display: inline-block;
    margin: 0 15px
  }
  .all{
    margin-left: 35px;
    margin-top: 15px;
  }
.avail{
    margin-top: 60px;
    font-size: 20px;
}
.prop{
    font-size: 15px;
}
span{
    font-size: 20px;
}
.offer{
    font-size: 15px;
}


.Rooms{
    transition: transform .2s;
}
.Rooms:hover{
    transform: scale(1.05); 
}
button{
    border: 0px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 2vw;
    background-color: white;
}
@media (max-width: 918px) {
  .avail{
    margin-top: 60px;
    font-size: 15px;
}
.prop{
    font-size: 10px;
}
span{
    font-size: 15px;
}
.offer{
    font-size: 15px;
}
.vl {
  border-left: 1px solid #333;
  float: right;
  height: 200px;
  margin-right: 250px;
}
.stars{
  font-size: 10px;
}
  }

  @media (max-width: 623px) {
    .avail{
      margin-top: 60px;
      font-size: 10px;
  }
  .prop{
      font-size: 5px;
  }
  span{
      font-size: 10px;
  }
  .offer{
      font-size: 10px;
  }
  .vl {
    border-left: 1px solid #333;
    float: right;
    height: 150px;
    margin-right: 150px;
  }
  .Rooms{
    height: 150px;
  }
  .stars{
    font-size: 10px;
  }
  }
  @media (max-width: 497px) {
    .avail{
      margin-top: 20px;
      font-size: 7px;
  }
  .prop{
      font-size: 5px;
  }
  span{
      font-size: 7px;
  }
  .offer{
      font-size: 7px;
  }
  a{
    color:white
  }
  .vl {
    border-left: 1px solid #333;
    float: right;
    height: 100px;
    margin-right: 100px;
  }
  .Rooms{
    height: 100px;
  }
  .stars{
    font-size: 10px;
  }
  }
  .footerbar li a {
    color: white;
    text-decoration: none; /* Remove underline */
}