
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 15px;
    background-color: dodgerblue;
   

  }
  h1{
    text-align: center;

  }
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    margin: 50px auto; /* Center the container and add some space from the top */
    max-width: 600px;
    padding: 30px;
    background-color: white;
    border-radius: 10px; /* Optional: Add rounded corners */
  }
  

  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  

  .registerbtn {
    background-color: dodgerblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px; 
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  

  .form {
    color: dodgerblue;
  }
  
.sign{
    text-align: center;
}  
 
  @media (max-width: 600px) {
    .container {
      margin: 20px; 
      max-width: calc(100% - 40px); 
    }
  }
  body {
    margin: 0;
    padding: 0;
  }
  
  .navigation {
    width: 90%;
    margin: 0 auto;
    clear: both;
    font-family: 'Poppins';
    color: black;
  }
  
  #sav {
    font-size: 33px;
  }
  
  nav {
    background: #fff;
    height: 80px;
    line-height: 80px;
    flex-direction: row;
    box-shadow: 1px 1px 1px rgba(66, 65, 65, 0.598);
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s;
  }
  
  ul.navbar {
    margin: 0;
    margin-right: 17px;
    padding: 0;
    display: inline-block;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  
  
  a {
    font-size: 14px;
    text-decoration: none;
  }
  
  
  @media screen and (max-width: 768px) {
  
    #sav{
      display: block;
      text-align: center;
      text-indent: 5px;
      padding-top: 15px;
    }
    nav{
      height: fit-content;
      line-height: unset;
      position: static;
      padding-bottom: 15px;
      border-bottom: 3px solid grey;
    }
  
    ul.navbar {
        display: block;
        text-align: center;
        text-indent: 20px;
    }
    li {
        display: block;
        margin: 10px 0;
  
    }
  }
  
  