body {
    font-family: "Poppins";
    margin: 20px;
    background-image: url('background\ image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

form {
    width: 10%;
    height: 100%;
    padding-top: 10%;
    margin: 10%;
}

textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 15px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;

  }
  
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .container {
    width: 90%;
    margin: 5px;
    padding: 30px;
    color:whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    justify-content: center;
    align-items: center ;
    position: center;
    
}

.btn {
    background-color: rgba(47, 40, 25, 0.666);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

navigation {
    width: 90%;
    margin: 0 auto;
    clear: both;
    font-family: 'Poppins';
    color: black;
  }
  
  #sav {
    font-size: 33px;
  }
  
  nav {
    background: #fff;
    height: 80px;
    line-height: 80px;
    flex-direction: row;
    box-shadow: 1px 1px 1px rgba(66, 65, 65, 0.598);
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s;
  }
  
  ul.navbar {
    margin: 0;
    margin-right: 17px;
    padding: 0;
    display: inline-block;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  
  
  a {
    font-size: 14px;
    text-decoration: none;
  }
  .navigation a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  .navigation a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  .navigation a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
  
    #sav{
      display: block;
      text-align: center;
      text-indent: 5px;
      padding-top: 15px;
    }
    nav{
      height: fit-content;
      line-height: unset;
      position: static;
      padding-bottom: 15px;
      border-bottom: 3px solid grey;
    }
  
    ul.navbar {
        display: block;
        text-align: center;
        text-indent: 20px;
    }
    li {
        display: block;
        margin: 10px 0;
  
    }
  }
  
  